---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600
  become: yes

- name: Install Nginx
  apt:
    name: nginx
    state: latest
    update_cache: yes
  become: yes

- name: Ensure Nginx is running
  systemd:
    name: nginx
    state: started
    enabled: yes
  become: yes

- name: Create nginx sites-available directory
  file:
    path: /etc/nginx/sites-available
    state: directory
    mode: '0755'
  become: yes

- name: Create nginx sites-enabled directory
  file:
    path: /etc/nginx/sites-enabled
    state: directory
    mode: '0755'
  become: yes

